/* Custom Variables */
:root {
  --font-family: "Inter", sans-serif;
  --teal: #00adb5;
  --dark: #1e1e1e;
  --white: #eeeeee;
  --gray: #393e46;
  --dark-gray: #222831;
  --light-gray: #dcdcdc;
  --orange: #d2691e;
}

button {
  width: 500px;
  padding: 10px 10px 10px 20px;
  margin: 4px;
  text-align: left;
  background-color: white;
  color: var(--white);
  background-color: var(--dark);
  font-weight: 1000;
  border-radius: 10px;
}

button:hover {
  background-color: var(--gray);
}

.small-button {
  width: 150px;
  padding: 5px;
  text-align: center;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  margin: 0px;
  border: solid var(--dark) 1px;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  background-color: var(--dark);
  color: var(--white);
}

#title {
  text-align: center;
  margin: 0 0 20px 0;
}

section {
  padding: 0 20px 0 20px;
  margin: 0px;
  border: solid var(--dark) 1px;
  border-bottom: 0;
  height: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  margin: 0px;
  border: solid var(--dark) 1px;
  border-radius: 0 0 10px 10px;
  background-color: var(--light-gray);
  border-top: 0;
  height: 40px;
}

form {
  width: 50%;
}

h4 {
  margin: 0;
  padding: 10px 0 10px 0;
}

#question-body,
#submit-body,
#scores-body {
  visibility: hidden;
  height: 0px;
}

#intro-body {
  height: 0;
}
